.search-container{
    display: flex;
    align-items: center;
    position: relative;
}
.search-icon{
    position: absolute;
    top: calc(50% - 8px);
    left: 2px;
    color: #000;
}
.search-input{
    padding: 0 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #fff;
    color:#000
}
.search-input:focus{
    animation:shadow-drop-center .4s cubic-bezier(.25,.46,.45,.94) both;
}
.close-icon{
    position: absolute;
    top: calc(50% - 8px);
    right: 2px;
    color: #000;
    cursor: pointer;
}





 @keyframes shadow-drop-center{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:4px 4px 8px 0 rgba(0,0,0,.35)}}